//Colors
$red-color:#B52C2C;
$blue-colo: #0F76BC;
$light-blue-color: #07AEEF;
$text-color: #222222;

// Spacing

$default-gap:12px;

//Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: auto;
}

a {
    text-decoration: none;
    color: $text-color;
}

button {
    padding: 17px 35px;
    border: none;
    border-radius: 100px;
    display: flex;
    gap: $default-gap;
    align-items: center;
    font-size: 18px;
}

.btn-blue {
    background-color: $blue-colo;
    color: white;
    border: 1px solid $blue-colo;
}

.btn-white {
    background-color: white;
    color: $blue-colo;
    border: 1px solid $blue-colo;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    img {
        width: 100%;
    }
}

header {
    .top-bar {
        background-color: $red-color;
        height: 40px;
        .container {
            display: flex;
            gap: 5px;
            color: white;
            align-items: center;
            padding-top: 8px;
        }
    }

    .navigation {
        nav {
            .row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 92px;
                .col {
                    display: flex;
                    gap: $default-gap;
                    align-items: center;
                    .brand {
                        img {
                            height: 62px;
                        }
                    }
                    .nav-menu {
                        display: flex;
                        gap: $default-gap;
                    }
                }

                .col {
                    .social-media {
                        display: flex;
                        gap: $default-gap;
                        img {
                            max-height: 20px;
                        }
                    }
                }
            }
        }
    }
}

.hero {
    .row {
        gap: 100px;
        .col {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: $default-gap;
            h3 {
                font-weight: lighter;
                text-transform: uppercase;
                color: $light-blue-color;
            }
        }

        .col {
            padding: 50px 0;
            .hero-img {
                width: 600px;
                height: 600px;
                object-fit: cover;
                border-radius: 50px;
            }
        }
    }
}

.about-us {
    .row {
        .col {
            width: 50%;
        }
        .images {
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: $default-gap;
            .row {
                display: flex;
                gap: $default-gap;
                img {
                    border-radius: 50px;
                }
                .big-img {
                    width: 70%;
                    height: 220px;
                    object-fit: cover;
                }

                .small-img {
                    width: 30%;
                    height: 155px;
                    object-fit: cover;
                }
            }

            .up-row {
                align-items: flex-end;
            }
            .down-row {
                align-items: flex-start;
            }
        }
    }
}